<ion-content [fullscreen]="true">
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-margin-top" size="6">
        <div class="ion-text-center">
          <p class="mb-0">Hey there,</p>
          <p class="text2">Welcome Back</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="d-flex justify-content-center mt-3">
    <div class="widthStyle">
      <form [formGroup]="loginForm">
        <ion-item lines="none" class="mt-2">
          <ion-label
            ><img src="../../../assets/icon/Message.svg" alt=""
          /></ion-label>
          <ion-input placeholder="Email" formControlName="email" class="formStyle"></ion-input>
        </ion-item>

        <ion-item lines="none" class="mt-2">
          <ion-label
            ><img src="../../../assets/icon/Lock.svg" alt=""
          /></ion-label>
          <ion-input placeholder="Password" formControlName="password" class="formStyle"></ion-input>
          <ion-label
            ><img src="../../../assets/icon/Hide-Password.svg" alt=""
          /></ion-label>
        </ion-item>

        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="5" class="forgetStyle"
              >Forgot your password?</ion-col
            >
          </ion-row>
        </ion-grid>

        <ion-item class="ion-justify-content-center buttonGap" lines="none">
          <div>
            <ion-button  (click)="loginSubmit()"> <img src="../../../assets/icon/Login.svg" class="me-2" alt=""
              />Login</ion-button>
          </div>
        </ion-item>
      </form>

      <div class="mt-4">
        <hr />
      </div>

      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="2" class="border ion-text-center me-4 rounded"
            ><img src="../../../assets/icon/google.png" alt=""
          /></ion-col>
          <ion-col size="2" class="border ion-text-center rounded"
            ><img src="../../../assets/icon/facebook 1.svg" alt=""
          /></ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col class="endText ion-text-center mt-2">
              Don't have an account yet?
              <span class="registerStyle" routerLink="/auth/register">Register</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
