.text2 {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.widthStyle {
  width: 350px;
}

.formStyle {
  width: 315px;
  height: 48px;
  flex-shrink: 0;
  color: #ada4a5;
  border: none;
}

.buttonStyle {
  width: 315px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 99px;
  background: var(
    --Blue-Linear,
    linear-gradient(274deg, #92a3fd 0%, #9dceff 124.45%)
  );
  margin-top: 260px;
  color: var(--white-color, #fff);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.note {
  color: var(--gray-2, #ada4a5);
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  // text-decoration-line: underline;
}

.registerStyle {
  background: var(
    --Purple-Linear,
    linear-gradient(274deg, #c58bf2 0%, #eea4ce 124.45%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.endText {
  color: var(--Black-color, #1d1617);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
ion-checkbox {
  --checkbox-background: white;
  --size	:15px

}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: #fff;
  content: 'Or';
  padding: 0 4px;
  position: relative;
  top: -13px;
  color: #000;
  
}

.buttonGap {

  margin-top: 120px;

}