<ion-content [fullscreen]="true" >
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-margin-top" size="6">
        <div class="ion-text-center">
          <p class="mb-0">Hey there,</p>
          <p class="text2">Create an Account</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="d-flex justify-content-center mt-3">
    <div class="widthStyle">
      <form [formGroup]="registerForm">
        <ion-item class="mt-2" lines="none">
          <ion-label class="me-2"
            ><img src="../../../assets/icon/Profile.svg" alt=""
          /></ion-label>
          <ion-input placeholder="First Name" formControlName="firstName" class="formStyle"></ion-input>
        </ion-item>

        <ion-item class="mt-2"  lines="none">
          <ion-label class="me-1"
            ><img src="../../../assets/icon/Profile.svg" alt=""
          /></ion-label>
          <ion-input placeholder="Last Name" formControlName="lastName" class="formStyle"></ion-input>
        </ion-item>

        <ion-item  class="mt-2" lines="none">
          <ion-label class="me-1"
            ><img src="../../../assets/icon/Profile.svg" alt=""
          /></ion-label>
          <ion-input placeholder="Gender" formControlName="gender" class="formStyle"></ion-input>
        </ion-item>

        <ion-item  class="mt-2" lines="none">
          <ion-label class="me-1"
            ><img src="../../../assets/icon/Message.svg" alt=""
          /></ion-label>
          <ion-input placeholder="Email" formControlName="email" class="formStyle"></ion-input>
        </ion-item>

        <ion-item  class="mt-2" lines="none">
          <ion-label class="me-1"
            ><img src="../../../assets/icon/Lock.svg" alt=""
          /></ion-label>
          <ion-input placeholder="Password" formControlName="password" class="formStyle"></ion-input>
          <ion-label
            ><img
              src="../../../assets/icon/Hide-Password.svg"
              alt=""
              class="me-4"
          /></ion-label>
        </ion-item>

        <ion-item  lines="none">
          <ion-label class="me-1"
            ><img src="../../../assets/icon/Lock.svg" alt=""
          /></ion-label>
          <ion-input placeholder="Confirm password" formControlName="confirmPassword" class="formStyle"></ion-input>
          <ion-label
            ><img
              src="../../../assets/icon/Hide-Password.svg"
              alt=""
              class="me-4"
          /></ion-label>
        </ion-item>
        

        <ion-grid>
          <ion-row class="mt-2 ms-2">
            <ion-col size="1" >
              <ion-checkbox class="border"></ion-checkbox>
            </ion-col>
            <ion-col size="9" class="note ps-2"
              >By continuing you accept our
              <span class="text-decoration-underline">Privacy Policy</span> and
              <span class="text-decoration-underline"
                >Term of Use</span
              ></ion-col
            >
          </ion-row>
        </ion-grid> 

        <ion-item class="ion-justify-content-center" lines="none">
          <div>
            <ion-button type="submit" (click)="registerSubmit()" class="buttonStyle">Register</ion-button>
          </div>
        </ion-item>
      </form>

      <div class="mt-4">
        <hr />
      </div>

      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col size="2" class="border ion-text-center me-4 rounded"
            ><img src="../../../assets/icon/google.png" alt=""
          /></ion-col>
          <ion-col size="2" class="border ion-text-center rounded"
            ><img src="../../../assets/icon/facebook 1.svg" alt=""
          /></ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col class="endText ion-text-center mt-2">
            Don't have an account yet?
            <span class="registerStyle" routerLink="/auth/login">Login</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
